win/Debug/
win/gwClient/Debug/
win/gwServer/Debug/
win/ipch/
win/gwClient/gwClient.vcxproj.*
win/gwServer/gwServer.vcxproj.*
win/gwServer.sdf
win/tbClient/Debug/
win/tokenBucket/Debug/
win/tokenBucket/tokenBucket.vcxproj.*
win/tbClient/tbClient.vcxproj.*
win/gwServer.opensdf
win/gwServer.suo
win/proxyServer/Debug/
win/proxyServer/proxyServer.vcxproj.*
win/proxy/Debug/
win/proxyClient/Debug/

win/proxyClient/proxyClient.vcxproj.user
win/proxyClient/proxyClient.vcxproj.filters
win/proxy/proxy.vcxproj.user
win/proxy/proxy.vcxproj.filters
win/selectUT/Debug/
win/selectUT/selectUT.vcxproj.*
